body{
  font-family : "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji","Reptile"
}

hr{
    border: 1px solid #000;
}

.left{
    float: left;
}
.right{
    float: right;
}
.center{
    text-align: center;
}
.nav-fix{   
    background-color: #fff;
    box-shadow: 0px 4px 14px rgba(24, 160, 251, 0.12);
    backdrop-filter: blur(4px);
    border-radius: 0px 0px 14px 14px;
}
.menubar{
    padding: 15px 22px;
}
.menu-options img{
    margin: 0px 15px;
}

.about{
    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 33.33%, rgba(213, 224, 255, 0) 100%);
}
.div-pad{
    padding: 25px 30px;
}

.about h3{
    font-family: 'Reptile';
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    color: rgba(27, 27, 80, 1);    
    padding: 35px 0px;
    text-align: center;
}

.heading{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #1B1B50;
    margin: 15px 1px;
    line-height: 33px;
}


.sub-heading{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #1B1B50;
    text-align: center;
    margin: 15px 1px;
}

.para {
    color: #000000b8;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 179%;
    color: #000000;
    margin: 25px 0px;
}

.sub{
    font-family: 'oleo-script';
    font-style: normal;
    font-weight: 500;
    font-size: 29.5px;
    line-height: 134.8%;
    text-align: center;
    color: #1B1B50;
    margin: 30px 0px;    
}

.content{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 179%;
    text-align: center;
    color: #1B1B50;
}

.highlights img{
    margin: 30px 0px;
}


.highlights p{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 179%;
    text-align: center;
    color: #1B1B50;
}

.bg-red{
    background: linear-gradient(165.41deg, #D99EC9 0%, rgba(246, 240, 196, 0) 100%);
}
.bg-blue{
    background: #DCE9E9;
}
.bg-white{
   background: #fff;
}
.bg-redd{
   background: #F66E6E;
}
.bg-whitee{
    background: linear-gradient(180deg, #FFF6FB 0%, #E7F6FC 100%);
}
.bg-black{
   background: #000000;
}
.text-left{
    text-align: left;
}
.bg-gray{
    background: linear-gradient(270deg, #DADAE4 0.25%, #EEEEF0 24.33%, #F8F8F8 52.08%, #FEFEFE 100%);
}
.content2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 180%;
    color: #34346FF2;
    line-height: 200.5%;
}

.bnt{
    width: 100%;
    border-radius: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 25px;
    filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 30px 0px;
}

.bnt-red{   
    background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
    border: 1px solid #F66E6E21;
}
.bnt-blue{
    background: linear-gradient(288.62deg, #6E8CF6 42.36%, rgba(110, 213, 246, 0.93) 115.74%);
    border: 1px solid #6E8CF6;
    filter: drop-shadow(0px 2px 6px #6E8CF6);
}
.alert-t{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
}

.bg-flower{
    background: linear-gradient(180deg, #DCE9E9 11.21%, rgba(220, 233, 233, 0.15) 42.17%), url('img/pexels-karolina-grabowska-4041391.png');
    background-size: contain;
    height: 565px;
}

.bg-calendar{
    background:url('img/4352299 1.png');
    background-size: contain;
    height: 375px;
}

.bg-doctor{
    background:url('img/usman-yousaf-unsplash 2.png');
    background-size: contain;
    height: 250px;
}

.div-fix{
    padding-top: 1px;
    margin: -19px 0px;
}
.font15{
    font-size: 15	px;
}
.font18{
    font-size: 18px;
}
.font17{
    font-size: 17px;
}
.font28{
    font-size: 28px;
    line-height: 138.8%;
}

.font31{
    font-size: 31px;
    line-height: 138.8%;
}
.img-fix{
     margin-right: 15px;
    margin-bottom: 17px;
}
.size-fix{
    width: 106%;
}
.bg-redish{
    background: linear-gradient(176.88deg, #F3B8BC 2.58%, #FFDAD4 93.07%);
}   
.text-white{
    color: #fff;
}

.text-black{
    color: #000;
}
.btn-black{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 45px;
    border-radius: 29px;
    font-size: larger;
    margin: 25px 0px;
}

.btn-icon{
    margin: 6px 10px;
    margin-left: 20px;
}

.btn-text{
    padding: 2px 8px;
    color: #fff;
    padding-left: 45px;
}
.mar30{
    margin-top: 30px;   
}
.lists{
    list-style: none;
    padding: 0px;
    color: #fff;
}
.white-hr{
    border: 1px solid #fff;
}
.form{
    color: #fff;
}

.form span{
    font-size: 9px;
}

.form-input{
    padding: 5px;
    width: 72%;
    background: rgba(255, 255, 255, 0.62);
    border: 1px solid #E7F6FC;
    box-sizing: border-box;
    border-radius: 4px;
    color: #000;
    font-size: small;
    margin: 10px 0px;    
}
.form-btn{
    color: #000;
    border-radius: 12px;
    font-size: smaller;
    padding: 4px 9px;
    background: #D6F4FB;
    border: 1.2782px solid #E9F4FF;
    box-sizing: border-box;
    margin: 0px 4px;
}
.footer-icon{
    margin: 0px 10px;
}
